
nav{
  width:80px;
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(184, 236, 236);
  padding-left: 10px;
}

.router{
  display:flex;
}
ul{
  list-style-type: none;
  padding:0;
  text-align: left; 
}
ul>li{
  padding-top: 30px;
}
li{
  color:gray;
}
ul>li:visited{
  color:gray;
}
.icon:active{
  color: #da27e7;
}

