.headerProject{
    position: relative;
    left: 40px;
    top: 30px;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 200%;
}